/* css reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 Tahoma, Arial, "SimSun";
  font-family: "Microsoft YaHei"
}

input,
select,
button,
textarea {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

em,
i,
strong {
  font-style: normal;
  font-weight: normal;
}

fieldset,
img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.g_oh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  display: block;
  width: 273px;
  height: 78px;
  line-height: 78px;
  background: #3F84F6;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 30px;
}

.btn img {
  margin: 21px 12px 0 56px;
}

.btn:hover {
  background-color: #4fa2ff;
}

.btn:active {
  background-color: #2163dd;
}

.header {
  position: relative;
  width: 100%;
  height: 575px;
  background: url('../img/banner.png') no-repeat top center;
}

.header .header_logo {
  position: absolute;
  top: 24px;
}

.header .top {
  position: relative;
  width: 1167px;
  height: 38px;
  margin: 0 auto;
  padding-top: 24px;
}

.header .logo img {
  height: 38px;
}

.header .top .logo1 {
  position: absolute;
  top: 33px;
  right: 0;
}

.header .banner_title_wrap {
  position: absolute;
  top: 79px;
  width: 100%;
}

.header .banner_title {
  text-align: center;
}

.banner-top {
  position: relative;
  left: 50%;
  float: left;
  font-size: 30px;
  color: #1370CF;
  font-weight: bold;
}

.banner-top img {
  margin-top: 17px;
}

.box {
  position: relative;
  left: -50%;
}

.header .banner_title .name {
  margin: 0 6px;
}

.header .banner_title .desc {
  font-size: 16px;
  color: #1A4F9F;
}

.banner {
  width: 1167px;
  margin: 0 auto;
  margin-top: 134px;
  color: #3D4756;
}

.banner .install_step {
  margin-top: 60px;
  font-size: 14px;
  color: #1A4F9F;
}

.banner .install_step .num {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  text-align: center;
  line-height: 18px;
  font-weight: bold;
  background: #3e6be8;
  color: #fff;
  border-radius: 50%;
}

.banner-box {
  position: relative;
  margin-left: 49px;
}

.banner-box .rank_top {
  position: absolute;
  top: -38px;
  left: -6px;
}

.banner .title {
  position: relative;
  height: 48px;
  margin-top: 48px;
  margin-bottom: 30px;
}

.banner h1 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 10px;
}

.banner .question {
  text-decoration: underline;
  color: #666;
  margin: 5px 0 0 10px;
}

.banner .btn {
  margin: 24px 0 14px 0;
}

.banner .tip {
  font-size: 14px;
  color: #3D4756;
}

.banner-img {
  width: 615px;
  height: 355px;
}

.header .top .logo-duba {
  margin: 0 0 0 46px;
  height: 34px;
}

.software_list {
  width: 1018px;
  margin: 50px auto 54px auto;
}

.software_item_wrap {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}

.software_item_wrap .rank {
  position: absolute;
  top: 0;
  left: -32px;
}

.software_item {
  position: relative;
  width: 100%;
}

.software_item .logo_wrap {
  width: 48px;
}

.software_item .logo {
  display: block;
  width: 48px;
  height: 48px;
}

.software_item .logo img {
  width: 100%;
}

.software_item .base_info_wrap,
.software_item .base_info {
  width: 468px;
}

.software_item .base_info {
  box-sizing: border-box;
  padding: 0 12px;
}

.software_item .base_info .software_name {
  font-size: 14px;
  color: #333;
}

.software_item .size_wrap {
  width: 180px;
}

.software_item .score_wrap {
  width: 236px;
}

.software_item .score_wrap .star {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 70px;
  height: 13px;
  margin-right: 10px;
  background-image: url(../img/star_grey.png);
  background-repeat: no-repeat;
}

.software_item .score_wrap .star_yellow {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 70px;
  height: 13px;
  background-image: url(../img/star_yellow.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.software_item .operation {
  float: left;
}

.software_item .img {
  display: block;
  width: 48px;
  height: 48px;
  background: blue;
}

.software_item .software_desc {
  font-size: 12px;
  color: #a0a0a0;
}

.software_item .download_btn {
  display: block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #4da3f6;
  color: #188eff;
}

.software_item .slideButton {
  display: inline-block;
  width: 116px;
  height: 32px;
  font-size: 0;
  position: relative
}

.software_item .slideButton>a {
  border: 1px solid #3F84F6;
  border-radius: 2px 0 0 2px;
  font-size: 14px;
  color: #3F84F6;
  line-height: 32px;
  width: 84px;
  text-align: center;
  position: absolute;
  left: 0;
  -o-transition: background-color .35s;
  transition: background-color .35s
}

.software_item .slideButton>a.only {
  width: 100%;
}

.software_item .slideButton>a:hover {
  background-color: #4fa2ff;
  color: #fff
}

.software_item .slideButton .slideButtonIcon {
  border-radius: 0 2px 2px 0;
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #3F84F6;
  left: 85px;
  -o-transition: background-color .35s;
  transition: background-color .35s;
  text-align: center;
  cursor: pointer
}

.software_item .font_family {
  font-style: normal;
  line-height: 16px;
  padding: 0 10px;
  position: absolute;
  top: 13px;
  right: 3px;
  width: 24px;
  height: 24px;
  color: #3F84F6;
  font-size: 18px;
  overflow: hidden;
}

.software_item .font_family s {
  text-decoration: none;
  position: absolute;
  top: -7px;
}

.software_item .slideButton .slideButtonIcon>div {
  position: absolute;
  right: -2px;
  top: 32px;
  display: none;
  width: 117px;
  height: 32px;
  padding: 0
}

.software_item .slideButton .slideButtonIcon>div>a {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 14px;
  color: #333;
  width: 102px;
  height: 32px;
  line-height: 32px;
  background: #fff;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
  border-radius: 2px;
  text-align: left;
  padding-left: 16px;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s
}

.software_item .slideButton .slideButtonIcon>div>a:hover {
  color: #3F84F6
}

.software_item .slideButton .slideButtonIcon:hover {
  background: #3F84F6
}

.software_item .slideButton .slideButtonIcon:hover i {
  color: #fff
}

.software_item .download_btn:hover {
  background: #009afa;
  color: #fff;
}

.installation {
  background-color: #F1F5FB;
}

.step {
  width: 1019px;
  height: 380px;
  margin: 49px auto 0;
  padding-top: 92px;
}

.step .step-title {
  font-size: 22px;
  color: #3F84F6;
  line-height: 36px;
}

.step .step-con-left {
  width: 510px;
}

.step .step-nav {
  width: 100%;
  height: 32px;
  margin-top: 57px;
  font-size: 18px;
  color: #3D4756;
  line-height: 36px;
  cursor: pointer;
}

.step .step-nav .no {
  width: 30px;
  height: 30px;
  border: 1px solid #3F84F6;
  border-radius: 50%;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-right: 16px;
  color: #3F84F6;
  background-color: #fff;
}

.step .step-nav.active .no {
  color: #fff;
  background-color: #3F84F6;
}

.step .step-con-right {
  width: 505px;
  height: 337px;
  overflow: hidden;
}

.step .step-img {
  height: 337px;
  width: 100%;
}

.step .step-img .img-title {
  font-size: 17px;
  color: #3D4756;
  line-height: 36px;
  font-weight: 600;
}

.step .step-img .img-desc {
  font-size: 14px;
  color: #3D4756;
  line-height: 36px;
}

.step .step-img img {
  width: 350px;
  height: 260px;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #999;
}

html {
  overflow-x: hidden;
}